/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22/03/2015, 19:41:50
    Author     : gilmario
*/
#mensagens{
    position: absolute;
    float: right;
    border: 1px solid red;
    background: #2aabd2;
    top: 0px;
    right: 0px;
    margin: 12px;
}

#mensagens .mensagem{
    background: blue;
}
